.text_vertical_top {
	font-size: 0;
}

.text_vertical_top:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.text_vertical_top > * {
	font-size: initial;
	/*font-size: 12px;*/
}