@charset "UTF-8";
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * grid
 */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.col-4,
.col-6,
.col-12 {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  width: 33.33333333%; }

.col-6 {
  width: 50%; }

.col-12 {
  width: 100%; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.row:after {
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ../page/page.css:begin */
html {
  height: 100%;
  font-size: 62.5%; }

.page {
  height: 100%;
  min-width: 260px; }

/* ../page/page.css:end */
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_islands.css:begin */
html {
  min-height: 100%; }

.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff; }

/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_islands.css:end */
/* ../page/_theme/page_theme_islands.css:begin */
.page_theme_islands {
  font-size: 1.6em !important;
  font-family: "proxima_novasemibold", sans-serif;
  color: #222;
  line-height: 1.5; }

/* ../page/_theme/page_theme_islands.css:end */
/* ../fonts/fonts.css:begin */
@font-face {
  font-family: 'nexaslabw01-heavyregular';
  src: url("../fonts/nexaslabw01-heavy-webfont.woff2") format("woff2"), url("../fonts/nexaslabw01-heavy-webfont.woff") format("woff"); }

@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proxima-nova-webfont.woff2") format("woff2"), url("../fonts/proxima-nova-webfont.woff") format("woff"); }

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proxima-nova-semibold-webfont.woff2") format("woff2"), url("../fonts/proxima-nova-semibold-webfont.woff") format("woff"); }

/* ../fonts/fonts.css:end */
/* ../content/content.css:begin */
.content {
  min-height: 100%;
  margin-bottom: -17rem; }

.content:after {
  content: '';
  display: block;
  height: 17rem; }

/* ../content/content.css:end */
/* ../header/header.css:begin */
.header {
  padding: 1.66em 0; }

/* ../header/header.css:end */
/* ../../libs/bem-components/common.blocks/link/link.css:begin */
.link {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* ../../libs/bem-components/common.blocks/link/link.css:end */
/* ../logo/logo.css:begin */
.logo {
  display: inline-block;
  padding: 1.2rem 0; }

/* ../logo/logo.css:end */
/* ../../libs/bem-components/common.blocks/image/image.css:begin */
.image {
  border: 0; }

/* ../../libs/bem-components/common.blocks/image/image.css:end */
/* ../../libs/bem-components/common.blocks/menu/menu.css:begin */
.menu {
  overflow-y: auto; }

/* ../../libs/bem-components/common.blocks/menu/menu.css:end */
/* ../menu/menu.css:begin */
.menu {
  font-family: "nexaslabw01-heavyregular";
  overflow-y: visible; }

/* ../menu/menu.css:end */
/* ../../libs/bem-components/common.blocks/menu-item/menu-item.css:begin */
.menu-item {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* ../../libs/bem-components/common.blocks/menu-item/menu-item.css:end */
/* ../menu-item/menu-item.css:begin */
.menu-item {
  display: inline-block;
  position: relative; }

/* ../menu-item/menu-item.css:end */
/* ../menu-item/_checked/menu-item_checked.css:begin */
.menu-item_theme_islands.menu-item_checked {
  background-image: none !important; }

.menu-item_theme_islands.menu-item_checked:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  padding: .28em;
  margin-left: -.3em;
  border-radius: 50%;
  background-color: #86c840;
  border: 1px solid rgba(0, 0, 0, 0.2); }

/* ../menu-item/_checked/menu-item_checked.css:end */
/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_islands.css:begin */
.menu_theme_islands {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  /* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
     * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */ }

.menu_theme_islands:before,
.menu_theme_islands:after {
  display: block;
  content: ''; }

.menu_theme_islands.menu_size_s {
  font-size: 13px;
  line-height: 24px; }

.menu_theme_islands.menu_size_s:before,
.menu_theme_islands.menu_size_s:after {
  height: 3px; }

.menu_theme_islands.menu_size_s .menu-item + .menu__group {
  margin-top: 3px; }

.menu_theme_islands.menu_size_s .menu__group {
  padding: 3px 0; }

.menu_theme_islands.menu_size_s .menu__group-title {
  padding: 0 10px; }

.menu_theme_islands.menu_size_m {
  font-size: 13px;
  line-height: 24px; }

.menu_theme_islands.menu_size_m:before,
.menu_theme_islands.menu_size_m:after {
  height: 4px; }

.menu_theme_islands.menu_size_m .menu-item + .menu__group {
  margin-top: 4px; }

.menu_theme_islands.menu_size_m .menu__group {
  padding: 4px 0; }

.menu_theme_islands.menu_size_m .menu__group-title {
  padding: 0 13px; }

.menu_theme_islands.menu_size_l {
  font-size: 15px;
  line-height: 28px; }

.menu_theme_islands.menu_size_l:before,
.menu_theme_islands.menu_size_l:after {
  height: 5px; }

.menu_theme_islands.menu_size_l .menu-item + .menu__group {
  margin-top: 5px; }

.menu_theme_islands.menu_size_l .menu__group {
  padding: 5px 0; }

.menu_theme_islands.menu_size_l .menu__group-title {
  padding: 0 15px; }

.menu_theme_islands.menu_size_xl {
  font-size: 15px;
  line-height: 32px; }

.menu_theme_islands.menu_size_xl:before,
.menu_theme_islands.menu_size_xl:after {
  height: 6px; }

.menu_theme_islands.menu_size_xl .menu-item + .menu__group {
  margin-top: 6px; }

.menu_theme_islands.menu_size_xl .menu__group {
  padding: 6px 0; }

.menu_theme_islands.menu_size_xl .menu__group-title {
  padding: 0 20px; }

.menu_theme_islands .menu__group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0; }

.menu_theme_islands .menu__group-title {
  color: #999; }

.menu_theme_islands .menu__group + .menu__group {
  border-top: 0; }

.menu_theme_islands .menu__group:last-child {
  padding-bottom: 0;
  border-bottom: 0; }

.menu_theme_islands .menu__group:first-child {
  padding-top: 0;
  border-top: 0; }

/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_islands.css:end */
/* ../header/__menu/header__menu.css:begin */
.header__menu {
  float: right;
  margin: 1rem 0; }

/* ../header/__menu/header__menu.css:end */
/* ../glyphicon/glyphicon.css:begin */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../glyphicon/glyphicons-halflings-regular.eot");
  src: url("../glyphicon/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../glyphicon/glyphicons-halflings-regular.woff2") format("woff2"), url("../glyphicon/glyphicons-halflings-regular.woff") format("woff"), url("../glyphicon/glyphicons-halflings-regular.ttf") format("truetype"), url("../glyphicon/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\002a"; }

.glyphicon-plus:before {
  content: "\002b"; }

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-cd:before {
  content: "\e201"; }

.glyphicon-save-file:before {
  content: "\e202"; }

.glyphicon-open-file:before {
  content: "\e203"; }

.glyphicon-level-up:before {
  content: "\e204"; }

.glyphicon-copy:before {
  content: "\e205"; }

.glyphicon-paste:before {
  content: "\e206"; }

.glyphicon-alert:before {
  content: "\e209"; }

.glyphicon-equalizer:before {
  content: "\e210"; }

.glyphicon-king:before {
  content: "\e211"; }

.glyphicon-queen:before {
  content: "\e212"; }

.glyphicon-pawn:before {
  content: "\e213"; }

.glyphicon-bishop:before {
  content: "\e214"; }

.glyphicon-knight:before {
  content: "\e215"; }

.glyphicon-baby-formula:before {
  content: "\e216"; }

.glyphicon-tent:before {
  content: "\26fa"; }

.glyphicon-blackboard:before {
  content: "\e218"; }

.glyphicon-bed:before {
  content: "\e219"; }

.glyphicon-apple:before {
  content: "\f8ff"; }

.glyphicon-erase:before {
  content: "\e221"; }

.glyphicon-hourglass:before {
  content: "\231b"; }

.glyphicon-lamp:before {
  content: "\e223"; }

.glyphicon-duplicate:before {
  content: "\e224"; }

.glyphicon-piggy-bank:before {
  content: "\e225"; }

.glyphicon-scissors:before {
  content: "\e226"; }

.glyphicon-bitcoin:before {
  content: "\e227"; }

.glyphicon-btc:before {
  content: "\e227"; }

.glyphicon-xbt:before {
  content: "\e227"; }

.glyphicon-yen:before {
  content: "\00a5"; }

.glyphicon-jpy:before {
  content: "\00a5"; }

.glyphicon-ruble:before {
  content: "\20bd"; }

.glyphicon-rub:before {
  content: "\20bd"; }

.glyphicon-scale:before {
  content: "\e230"; }

.glyphicon-ice-lolly:before {
  content: "\e231"; }

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

.glyphicon-education:before {
  content: "\e233"; }

.glyphicon-option-horizontal:before {
  content: "\e234"; }

.glyphicon-option-vertical:before {
  content: "\e235"; }

.glyphicon-menu-hamburger:before {
  content: "\e236"; }

.glyphicon-modal-window:before {
  content: "\e237"; }

.glyphicon-oil:before {
  content: "\e238"; }

.glyphicon-grain:before {
  content: "\e239"; }

.glyphicon-sunglasses:before {
  content: "\e240"; }

.glyphicon-text-size:before {
  content: "\e241"; }

.glyphicon-text-color:before {
  content: "\e242"; }

.glyphicon-text-background:before {
  content: "\e243"; }

.glyphicon-object-align-top:before {
  content: "\e244"; }

.glyphicon-object-align-bottom:before {
  content: "\e245"; }

.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

.glyphicon-object-align-left:before {
  content: "\e247"; }

.glyphicon-object-align-vertical:before {
  content: "\e248"; }

.glyphicon-object-align-right:before {
  content: "\e249"; }

.glyphicon-triangle-right:before {
  content: "\e250"; }

.glyphicon-triangle-left:before {
  content: "\e251"; }

.glyphicon-triangle-bottom:before {
  content: "\e252"; }

.glyphicon-triangle-top:before {
  content: "\e253"; }

.glyphicon-console:before {
  content: "\e254"; }

.glyphicon-superscript:before {
  content: "\e255"; }

.glyphicon-subscript:before {
  content: "\e256"; }

.glyphicon-menu-left:before {
  content: "\e257"; }

.glyphicon-menu-right:before {
  content: "\e258"; }

.glyphicon-menu-down:before {
  content: "\e259"; }

.glyphicon-menu-up:before {
  content: "\e260"; }

/* ../glyphicon/glyphicon.css:end */
/* ../slogan/slogan.css:begin */
.slogan {
  font-family: "proxima_novalight";
  font-size: 2.8rem;
  text-align: center;
  padding: 4rem 0;
  background-color: #f1f1f1; }

/* ../slogan/slogan.css:end */
/* ../slogan/__text/slogan__text.css:begin */
.slogan__text {
  position: relative;
  padding: 0 18rem; }

/* ../slogan/__text/slogan__text.css:end */
/* ../slogan/__text/_q/slogan__text_q.css:begin */
.slogan__text_q:before,
.slogan__text_q:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat; }

.slogan__text_q:before {
  left: 0;
  background-image: url("../images/icons/q-left.png"); }

.slogan__text_q:after {
  right: 0;
  background-image: url("../images/icons/q-right.png"); }

/* ../slogan/__text/_q/slogan__text_q.css:end */
/* ../freebies/freebies.css:begin */
.freebies {
  padding-bottom: 6rem; }

/* ../freebies/freebies.css:end */
/* ../freebies/_theme/freebies_theme_black.css:begin */
/* ../freebies/_theme/freebies_theme_black.css:end */
/* ../freebies/__header/freebies__header.css:begin */
.freebies__header {
  font-size: 1.2em;
  font-family: "nexaslabw01-heavyregular";
  line-height: .9;
  margin: 0 1.5rem; }

/* ../freebies/__header/freebies__header.css:end */
/* ../freebies/__title/freebies__title.css:begin */
.freebies__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* ../freebies/__title/freebies__title.css:end */
/* ../freebies/__categories/freebies__categories.css:begin */
.freebies__categories {
  font-family: "proxima_novasemibold";
  font-size: .8em;
  color: #aaa;
  margin-top: 1rem; }

.freebies__header_size_xl .freebies__categories {
  font-size: .45em; }

/* ../freebies/__categories/freebies__categories.css:end */
/* ../freebies/__tile/freebies__tile.css:begin */
.freebies__tile {
  margin-bottom: 6rem; }

/* ../freebies/__tile/freebies__tile.css:end */
/* ../freebies/__image-box/freebies__image-box.css:begin */
.freebies__image-box {
  display: block;
  background-color: #eee;
  height: 21.5rem;
  border-radius: .7rem;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

/* ../freebies/__image-box/freebies__image-box.css:end */
/* ../freebies/__image/freebies__image.css:begin */
.freebies__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/* ../freebies/__image/freebies__image.css:end */
/* ../freebies/__footer/freebies__footer.css:begin */
.freebies__footer {
  position: relative;
  left: 0;
  top: 100%;
  width: 97%;
  margin: 0 auto;
  padding: 0 1rem;
  line-height: 4rem;
  border-radius: 0 0 .4rem .4rem;
  z-index: 1;
  text-align: right;
  color: #fff;
  font-weight: normal;
  font-size: .8em; }

.freebies__image-box:hover .freebies__footer {
  margin-top: -4.5rem; }

.freebies_theme_black .freebies__footer {
  background-color: #404040; }

/* ../
freebies/__footer/freebies__footer.css:end */
/* ../freebies/__date/freebies__date.css:begin */
.freebies__date {
  float: left; }

/* ../freebies/__date/freebies__date.css:end */
/* ../freebies/__views/freebies__views.css:begin */
.freebies_theme_black .freebies__views {
  color: #fff; }

/* ../freebies/__views/freebies__views.css:end */
/* ../freebies/__tile-icon/freebies__tile-icon.css:begin */
.freebies__tile-icon {
  margin: 0 .5em 0 1.5em; }

/* ../freebies/__tile-icon/freebies__tile-icon.css:end */
/* ../freebies/__comments/freebies__comments.css:begin */
.freebies_theme_black .freebies__comments {
  color: #fff; }

/* ../freebies/__comments/freebies__comments.css:end */
/* ../freebies/__downloads/freebies__downloads.css:begin */
.freebies_theme_black .freebies__downloads {
  color: #fff; }

/* ../freebies/__downloads/freebies__downloads.css:end */
/* ../freebies/__button-link/freebies__button-link.css:begin */
.freebies__button-link {
  float: right;
  /* width: 3rem;
  height: 3rem; */
  border-radius: 50%;
  background-color: #86c840;
  padding: .8rem;
  margin-left: 3em; }

.freebies_theme_black .freebies__button-link {
  color: #fff; }

/* ../freebies/__button-link/freebies__button-link.css:end */
/* ../freebies/__button-link-icon/freebies__button-link-icon.css:begin */
.freebies__button-link-icon {
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.8); }

/* ../freebies/__button-link-icon/freebies__button-link-icon.css:end */
/* ../../libs/bem-components/common.blocks/button/button.css:begin */
.button {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* ../../libs/bem-components/common.blocks/button/button.css:end */
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_islands.css:begin */
.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent; }

.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0; }

.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top; }

.button_theme_islands .icon {
  position: relative; }

.button_theme_islands.button_type_link {
  text-decoration: none; }

.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff; }

.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178, 142, 0, 0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0; }

.button_theme_islands.button_pressed:before {
  background: #f6f5f3; }

.button_theme_islands.button_checked {
  background: rgba(153, 122, 0, 0.5); }

.button_theme_islands.button_checked:before {
  background: #ffeba0; }

.button_theme_islands.button_checked.button_pressed {
  background: rgba(129, 103, 0, 0.6); }

.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481; }

.button_theme_islands.button_checked.button_hovered {
  background: rgba(129, 103, 0, 0.6); }

.button_theme_islands.button_view_plain {
  background: none; }

.button_theme_islands.button_view_plain:before {
  display: none; }

.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3; }

.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0; }

.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481; }

.button_theme_islands.button_view_plain.button_disabled {
  background: none; }

.button_theme_islands.button_view_action {
  background: rgba(191, 153, 0, 0.8); }

.button_theme_islands.button_view_action:before {
  background: #ffdb4d; }

.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0; }

.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159, 127, 0, 0.8); }

.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none; }

.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); }

.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); }

.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none; }

.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0, 0, 0, 0.05); }

.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5); }

.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6); }

.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6); }

.button_theme_islands.button_disabled {
  background: rgba(0, 0, 0, 0.08); }

.button_theme_islands.button_disabled:before {
  display: none; }

.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0; }

.button_theme_islands.button_disabled .button__text {
  color: #aaa; }

.button_theme_islands.button_disabled .icon {
  opacity: 0.3; }

.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px; }

.button_theme_islands.button_size_s .icon {
  width: 24px; }

.button_theme_islands.button_size_s .button__text {
  margin: 0 10px; }

.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px; }

.button_theme_islands.button_size_m .icon {
  width: 28px; }

.button_theme_islands.button_size_m .button__text {
  margin: 0 13px; }

.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px; }

.button_theme_islands.button_size_l .icon {
  width: 32px; }

.button_theme_islands.button_size_l .button__text {
  margin: 0 15px; }

.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px; }

.button_theme_islands.button_size_xl .icon {
  width: 38px; }

.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px; }

.button_theme_islands .icon + .button__text {
  margin-left: 0; }

.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0; }

.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0; }

.control-group .button_theme_islands {
  border-radius: 0; }

.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0; }

.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px; }

.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px; }

.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px; }

.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px; }

.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0; }

.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px; }

.control-group > :only-child .button_theme_islands {
  border-radius: 3px; }

.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px; }

/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_islands.css:end */
/* ../freebies/__button-more/freebies__button-more.css:begin */
.freebies__button-more.button_size_xl {
  display: block;
  margin: auto;
  text-transform: uppercase;
  line-height: 5rem;
  padding-right: 3rem; }

.freebies__button-more.button_view_action {
  background-color: transparent; }

.freebies__button-more .button__text {
  color: #fff; }

.button_theme_islands.button_view_action:before {
  background-color: #86c840; }

.button_theme_islands.button_size_xl .button__text {
  margin: 0 1rem 0 3rem; }

.freebies_theme_black .button__button-link-icon {
  color: #fff;
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.8); }

/* ../freebies/__button-more/freebies__button-more.css:end */
/* ../footer/footer.css:begin */
.footer {
  padding: 7rem 0;
  text-align: center; }

/* ../footer/footer.css:end */
/* ../footer/__menu/footer__menu.css:begin */
.footer__menu {
  float: left;
  font-family: 'proxima_novasemibold';
  color: #555; }

/* ../footer/__menu/footer__menu.css:end */
/* ../copyright/copyright.css:begin */
.copyright {
  float: right;
  font-size: 1.4rem; }

.copyright:before {
  content: '\00A9';
  margin: 0 .3em; }

/* ../copyright/copyright.css:end */
/* ../copyright/_color/copyright_color_gray.css:begin */
.copyright_color_gray {
  color: gray; }

/* ../copyright/_color/copyright_color_gray.css:end */
/* ../social/social.css:begin */
.social {
  margin-top: -1rem; }

/* ../social/social.css:end */
/* ../social/__link/social__link.css:begin */
.social__link {
  background-color: black;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  display: inline-block;
  margin: 0 .5rem;
  text-align: center;
  box-shadow: 0 0 .3rem black;
  color: #fff; }

/* ../social/__link/social__link.css:end */
/* ../../libs/bem-components/common.blocks/icon/icon.css:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
  /* Hack for correct baseline positioning */
  /*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */ }

.icon:empty:after {
  visibility: hidden;
  content: '\00A0'; }

.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle; }

/* ../../libs/bem-components/common.blocks/icon/icon.css:end */
/* ../icon/icon.css:begin */
.icon {
  vertical-align: middle; }

.icon:empty:after {
  content: normal !important; }

/* ../icon/icon.css:end */
/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_islands.css:begin */
.menu-item_theme_islands {
  position: relative;
  white-space: nowrap; }

.menu-item_theme_islands.menu-item_disabled {
  opacity: 0.3; }

.menu-item_theme_islands .link_disabled {
  cursor: text; }

.menu-item_theme_islands.menu-item_checked {
  background: 0 50% no-repeat url("../../libs/bem-components/design/common.blocks/theme/_islands/tip.svg"); }

.menu-item_theme_islands.menu-item_hovered {
  cursor: pointer;
  background-color: #ffeba0; }

.menu-item_theme_islands.menu-item_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none; }

.menu-item_theme_islands.menu-item_type_link .link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ''; }

.menu_size_s .menu-item_theme_islands {
  padding: 0 10px;
  background-size: 14px 14px;
  background-position: 10px 50%; }

.menu_size_s .menu__group + .menu-item_theme_islands {
  margin-top: 3px; }

.menu_size_s[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_s .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px; }

.menu_size_m .menu-item_theme_islands {
  padding: 0 13px;
  background-size: 14px 14px;
  background-position: 13px 50%; }

.menu_size_m .menu__group + .menu-item_theme_islands {
  margin-top: 4px; }

.menu_size_m[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_m .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px; }

.menu_size_l .menu-item_theme_islands {
  padding: 0 15px;
  background-size: 15px 15px;
  background-position: 15px 50%; }

.menu_size_l .menu__group + .menu-item_theme_islands {
  margin-top: 5px; }

.menu_size_l[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_l .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 34px; }

.menu_size_xl .menu-item_theme_islands {
  padding: 0 20px;
  background-size: 15px 15px;
  background-position: 20px 50%; }

.menu_size_xl .menu__group + .menu-item_theme_islands {
  margin-top: 6px; }

.menu_size_xl[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_xl .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 40px; }

/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_islands.css:end */
/* ../freebies/__header/_size/freebies__header_size_xl.css:begin */
.freebies__header_size_xl {
  font-size: 3.6rem;
  padding-left: 2rem;
  border-left: .7rem solid #86c840;
  margin: 4rem 1.5rem; }

/* ../freebies/__header/_size/freebies__header_size_xl.css:end */
/**
 * grid
 */
@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

/**
 * masonry
 */
@media screen and (max-width: 767px) {
  .masonry[data-columns]::before {
    content: '1 .col-12'; } }

@media screen and (max-width: 991px) and (min-width: 768px) {
  .masonry[data-columns]::before {
    content: '2 .col-6'; } }

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .masonry[data-columns]::before {
    content: '3 .col-4'; } }

@media screen and (min-width: 1200px) {
  .masonry[data-columns]::before {
    content: '3 .col-4'; } }

/**
 * adaptive
 */
@media screen and (max-width: 991px) {
  .slogan__text {
    padding: 0 8rem; }
  .menu_size_l[class*='menu_mode'] .menu-item_theme_islands {
    padding: 0 1.5rem; } }

@media screen and (max-width: 767px) {
  .footer {
    padding: 3rem 0; }
  .footer__menu,
  .copyright {
    float: none; }
  .social {
    margin-top: 1rem; } }

@media screen and (max-width: 524px) {
  html {
    font-size: 42%; } }

@media screen and (max-width: 465px) {
  .menu_theme_islands.menu_size_l {
    font-size: 12px; } }

@media screen and (max-width: 402px) {
  .menu_theme_islands.menu_size_l {
    font-size: 10px; } }

@media screen and (max-width: 360px) {
  .header__menu {
    float: none; }
  .header__menu .menu-item {
    display: block; }
  .menu_theme_islands.menu_size_l {
    font-size: 14px; }
  .menu-item_theme_islands.menu-item_checked:before {
    content: normal; } }

/**
 * Спрайт
 */
.icon-twitter {
  background-image: url(../sprites/sprite.png);
  background-position: -16px -47px;
  width: 18px;
  height: 15px; }

.icon-facebook {
  background-image: url(../sprites/sprite.png);
  background-position: -92px 0px;
  width: 10px;
  height: 18px; }

.icon-pinterest {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -47px;
  width: 16px;
  height: 20px; }

.icon-google-plus {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -67px;
  width: 16px;
  height: 16px; }

* {
  transition: all .3s; }
